[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
ffmpeg-python = "*"
tk = "*"
ipdb = "*"
pytube = "*"

[requires]
python_version = "3.6"
